.about {
	padding: 7rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}
/* .about_heading::before{
    width: 10rem;
    height: 1px;
    content: '';
    background-color: rgba(244, 191, 0,1);
} */

.about_description {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 10rem;
	padding: 4rem 0;
}

.texts {
	color: rgba(255, 255, 255, 0.8);
	flex: 1;
    font-size: 1rem;
}
.texts * {
	letter-spacing: 1px;
	line-height: 2rem;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}


.profile_pic {
	width: 20rem;
	height: 20rem;
	position: relative;
    border-radius: 0.3rem;
}
.profile_pic>img {
	width: 100%;
    z-index: 1;
    position: absolute;
    top: -1rem;
    left: 0;
    border-radius: 0.3rem;
    filter: grayscale();
    transition: all .5s;
    scale: 1.1;
    filter:drop-shadow(0 0 10px black) brightness(80%);
}
.profile_pic>div{
    width: inherit;
    height: inherit;
    border-width: .1rem;
    border-style:  solid ;
    position: absolute;
    top: -1rem;
    left: -1rem;
    border-radius: .3rem;
    transition: all .5s;
}

.profile_pic>img:hover + div{
    top: 1rem;
    left: 1rem;
}
