.avatar {
	position: relative;
	filter: drop-shadow(0 0 5px black);
	cursor:default;
}
.avatar > div {
	width: 2.5rem;
	aspect-ratio: 1;
	border-width: 0.1rem;
	border-style: solid;
	position: absolute;
	top: -1.25rem;
}

.avatar .box_1 {
	transform: rotate(-135deg);
}
.avatar .box_2{
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #1a1a19;
    text-transform: uppercase;
    padding: .01rem;
    font-weight: 500;
}
