.container {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.front,
.back {
	background-size: cover;
	box-shadow: 0 5px 10px 0 rgb(0, 0, 0);
	background-position: center;
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
	text-align: center;
	width: auto;
	min-height: 20rem;
	height: auto;
	border-radius: 1rem;
	color: inherit;
	font-size: 1.5rem;
	backface-visibility: hidden;
	aspect-ratio: 30/33;
}
.back::after,
.front:after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	background-color: #1a1a19ae;
	border-radius: 1rem;
	backdrop-filter: blur(2px);
}
.container:hover .front,
.container:hover .back {
	transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-position: center;
	background-size: contain;
}

.inner {
	transform: translateY(-50%) translateZ(7rem) scale(0.94);
	top: 50%;
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	padding: 2rem;
	box-sizing: border-box;
	outline: 1px solid transparent;
	perspective: inherit;
	z-index: 2;
}

.container .back {
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}

.container .front {
	transform: rotateY(0deg);
	transform-style: preserve-3d;
}

.container:hover .back {
	transform: rotateY(0deg);
	transform-style: preserve-3d;
}

.container:hover .front {
	transform: rotateY(-180deg);
	transform-style: preserve-3d;
}

.front .inner div {
	margin-bottom: 3rem;

	position: relative;
	filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 1));
}

.front .inner span {
	color: rgba(255, 255, 255, 1);
	font-weight: 600;
	font-size: 2rem;

	text-transform: uppercase;
	filter: drop-shadow(0 0 10px black);
}

.back {
	background-image: url(https://picsum.photos/400/500/?blur);
}

.back .inner {
	background: none;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.2rem;
	text-align: start !important;
	color: rgba(255, 255, 255, 1) !important;
	text-transform: uppercase;
}
.back .inner > div {
	display: flex;
	padding-left: 10%;
	align-items: center;
	gap: 1rem;
}
.back .inner > div :first-child {
	filter: drop-shadow(0 0 5px black);
}

@media screen and (max-width: 40rem) {
	.back .inner > div :last-child {
		font-size: 1.4rem;
	}
}

/* https://codepen.io/nicolaspavlotsky/pen/wqGgLO?editors=1100 */
