.card {
	width: auto;
	height: 20rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	border-radius: 0.3rem;
    border-width: .1rem;
    border-style: solid;
}

.card:hover .card_text{
    color: inherit;
}


.card_icon > * {
	color: inherit;
	font-size: 5rem;
    filter: drop-shadow(0 0 5px black);
}
.card_text {
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    filter: drop-shadow(0 0 5px black);
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.5s;
}
