.contact {
	padding: 7rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.contact h1 {
	margin: 2rem 0;
	text-align: center;
}

.contact_body {
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 0.3rem;
	border-width: 0.1rem;
	border-style: solid;
	position: relative;
}
.contact_body h2 {
	color: rgba(255, 255, 255, 0.8);
}

.contact_form {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	place-items: center;
	gap: 1rem;
}
.contact_form input,
textarea {
	border: none;
	font-size: 1.1rem;
	padding: 1rem;
	width: 80%;
	letter-spacing: 1px;
	border-radius: 0.3rem;
	outline: none;
	text-transform: capitalize;
}
.contact_form *:focus {
	outline-width: 0.1rem;
	outline-style: solid;
}
.contact_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
}
.contact_details img {
	width: 8rem;
	height: inherit;
	object-fit: cover;
	border-radius: 50%;
	outline-width: 0.15rem;
	outline-style: solid;
	scale: 1.1;
	filter: drop-shadow(0 0 5px black) brightness(80%);
	/*  */
	transition: all 0.2s;
}
.contact_icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
.contact_icons > * {
	color: inherit;
	font-size: 2.2rem;
	transition: all 0.2s;
	scale: 1.2;
	filter: drop-shadow(0 0 5px black);
}
.contact_icons > *:hover {
	scale: 1.4;
}

.contact_details img:hover {
	scale: 1;
}

@media screen and (max-width: 40rem) {
	.contact {
		padding: 1rem;
		padding-top: 7rem;
	}
	.contact h1 {
		margin: 2rem 0;
		text-align: center;
	}

	.contact_body {
		width: 100%;
		grid-template-columns: 1fr;
		border: none;
		box-shadow: none !important;
		gap: 4rem;
	}
	.contact_form input,
	textarea {
		padding: 1.1rem;
		width: 100%;
	}
	.contact_form *:focus {
		outline-width: 0.15rem;
	}
	.contact_details {
		width: 100%;
		gap: 3rem;
		border-radius: 0.3rem;
		padding: 3rem 0;
	}
}
