/* Desktop */
.content {
	margin: 0 15rem;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
/* Full HD Laptops */
@media screen and (max-width: 100rem) {
	.content {
		margin: 0 5rem;
	}
}
/* HD Laptops  */
@media screen and (max-width: 88rem) {
	.content {
		margin: 0;
	}
}
/* Tablets */
@media screen and (max-width: 64rem) {
	.content {
		margin: 0;
	}
}
/* Mobiles */
@media screen and (max-width: 40rem) {
	.content {
		margin: 0;
	}
}
