.content {
	margin: 0 15rem;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 88rem) {
	.content {
		margin: 0;
		border: none;
	}
}

@media screen and (max-width: 48rem) {
	.content {
		margin: 0;
		border: none;
	}
}

@media screen and (max-width: 32rem) {
	.content {
		margin: 0;
		border: none;
	}
}
