.intro {
	width: 100%;
	height: 90vh;
	padding: 10rem 7rem;
	display: flex;
	/* background-image: url("/dark-wallpaper.png"); */
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(5px);
}
.intro * {
	z-index: 2;
}

@media screen and (max-width: 40rem) {
	.intro {
		padding: 8rem 1rem;
		flex-direction: column-reverse;
	}
	.content_intro {
		line-height: 4rem;
	}
}
