.mobnav {
	display: none;
}
@media screen and (max-width: 40rem) {
	.mobnav {
		display: flex;
		width: 100vw;
		min-height: 5rem;
		flex-direction: column;
		align-items: center;
		/* box-shadow: 0 8px 6px -6px black; */
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		/* backdrop-filter: brightness(60%) blur(10px); */
	}
	.nav_logo {
		width: auto;
		height: 3rem;
		overflow: hidden;
		filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.83));
	}
	.nav_logo img {
		width: 100%;
		height: 100%;
	}
	.mobnav_top {
		display: flex;
		width: 100vw;
		height: 5rem;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
	}
	.mobnav_top :nth-child(2) {
		filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.83));
	}
	.mobnav_bottom {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 2rem;
		height: auto;
		transition: all 0.2s linear;
		overflow: hidden;
	}
	.mobnav_bottom a {
		width: 100%;
		text-align: center;
		padding: 1rem;
		border: 1px solid;
		border-radius: 0.3rem;
		box-shadow: 0 0px 6px black;
	}
	.accent_colors {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.accent_colors > div {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		filter: drop-shadow(0 0 10px black);
	}
}
