.from_right {
	transform: translateX(50%);
	opacity: 0;
}
.from_left {
	transform: translateX(-50%);
	opacity: 0;
}
.from_bottom {
	transform: translateY(30%);
	opacity: 0;
}

.base {
	transform: none !important;
	opacity: 1 !important;
	transition: all 0.5s ease-out;
}
