.projects {
    display: flex;
	flex-direction: column;
	width: 100%;
	padding: 7rem;
}
.project{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 4rem 0;
	width: 100%;
}
.project_left{
	width: 70%;
}
.project_btns{
	display: flex;
	margin: 2rem 0;
	gap: 2rem;
}