.projects {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 7rem;
	padding-top: 9rem;
	gap: 5rem;
}
.project {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 5rem 0;
	width: 100%;
	gap: 3rem;
}
.project h1 {
	line-height: 3rem;
	font-size: 1.8rem;
	border-bottom: 0.2rem solid;
}
.project_view {
	display: grid;
	width: 100%;
	max-height: 60vh;
	grid-template-columns: 10fr 3fr;
	gap: 3rem;
}
.project_data {
	border: 2px solid red;
	width: 100%;
	border-radius: 1rem;
	padding: 1rem;
	color: white;
}

.more_link {
	margin-top: 2rem;
	color: white;
	cursor: pointer;
	display: grid;
	place-items: center;
}
.more_link:hover {
	text-decoration: underline;
}

@media screen and (max-width: 40rem) {
	/* .projects {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 7rem 1rem;
	}
	.project {
		display: flex;
		flex-direction: column;
		margin: 4rem 0;
		width: 100%;
		gap: 4rem;
	}

	.one,
	.three {
		flex-direction: column-reverse;
	}

	.project_left {
		width: 100%;
	}
	.project_btns {
		display: flex;
		flex-direction: column;
		margin: 2rem 0;
		gap: 2rem;
	} */
}
