.skills {
	padding: 7rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.cards {
	margin-top: 10rem;
	width: inherit;
	display: grid;

	grid-template-columns: repeat(3, 1fr);

	gap: 5rem;
}

@media screen and (max-width: 40rem) {
	.skills {
		padding: 7rem 2rem;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.cards {
		/* margin: 0;
	padding: 0;
	gap: 0; */
		margin-top: 3rem;
		width: inherit;
		display: grid;
		grid-template-columns: 1fr;
		gap: 5rem;
	}
}
