.card {
    flex: 1 25%;
	width: 15rem;
	height: 20rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	border-radius: 0.3rem;
    position: relative;
    overflow: hidden;
    background-color: rgba(244, 191, 0, 0);
    transition: all 0.5s;
    border: .2px solid rgba(244, 191, 0, 1)
}

.card::before{
    position: absolute;
    top:-50px;
    left: -50px;
    border-radius: 50%;
    content: "";
    width: 5rem;
    height: 5rem;
    background-color: rgba(244, 191, 0, 1);
}

.card:hover{
    background-color: rgba(244, 191, 0, 0.05);
}



.card_icon > * {
	color: rgba(244, 191, 0, 1);
	font-size: 5rem;
    filter: drop-shadow(0 0 5px black);
}
.card_text {
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    filter: drop-shadow(0 0 5px black);
}
