.contact {
	padding-top: 10rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.contact h1 {
	margin: 2rem 0;
	text-align: center;
}

.contact_body {
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: .3rem;
	border-width: .1rem;
	border-style: solid;
	position: relative;
}
.contact_body h2{
	color: rgba(255, 255, 255, 0.5);
}



.contact_form {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	place-items: center;
	gap: 1rem;
}
.contact_form input,
textarea {
	border: none;
	font-size: 1.1rem;
	padding: 1rem;
	width: 80%;
	letter-spacing: 1px;
	border-radius: 0.3rem;
	outline: none;

}
.contact_form *:focus{
	outline-width: .1rem;
	outline-style: dashed;
}
.contact_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	box-shadow:-5px 0px 10px rgba(0, 0, 0, 0.1)
}
.contact_details img{
	width: 8rem;
	height: 8rem;
	object-fit: cover;
	border-radius: 50%;
	outline-width: .1rem;
	outline-style: solid;
	outline-offset: .3rem;
	scale: 1;
	/*  */
	transition: all 0.7s;
}
.contact_icons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
.contact_icons>*{
	color: inherit;
	font-size: 2.2rem;
	transition: all 0.5s;
	scale: 1;
}
.contact_icons>*:hover{
	scale: 1.5;
}

.contact_details img:hover{
	scale: 1.1;
}

