.intro{
    width: 100%;
    padding-top:6rem;
	display: flex;
}

.content_intro{
    display: flex;
    flex-direction: column;
	line-height: 6rem;
}
.content_intro > :nth-child(1) {
	font-weight: 500;
	font-size: 5rem;
    letter-spacing: 1px;
	color:rgb(255, 255, 255,0.3)
}
.content_intro > :nth-child(2) {
	font-weight: 700;
	font-size: 5rem;
}
.content_intro > :nth-child(3) {
	font-weight: 700;
	font-size: 5rem;
	color: rgba(255, 255, 255, 0.2);
}
.intro_desc {
	font-style: italic;
	color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}