.left_bar{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    gap: 0.5rem;
    position: fixed;
    top:35vh;
    left:0;
}
.left_bar img{
    width: 30px !important;
    height: 30px !important;
    border: 1px solid rgb(255, 255, 255,0.3);
    padding: .5rem;
    border-radius: 50%;
    box-sizing: content-box;
    border: 1px solid rgb(244, 191, 0,1);
}

.left_bar img:hover{
    box-shadow: 0 0 10px 5px rgba(244, 191, 0, 0.1);
    background-color: rgba(244, 191, 0, 0.1);
}