.right_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 1px;
    margin-right: 1rem;
    position: fixed;
    position: fixed;
    top:35vh;
    right:0;
}